# 6.2.5 Practical activity: Preparing quantitative data

In [2]:
# Import libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [4]:
# Get multiple outputs in the same cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [ ]:
# Import the CSV file with Pandas.
data = pd.read_csv('raw_sales.csv')

# View the DataFrame.
print(data.shape)
data.head()

(29580, 4)

            postcode   price propertyType  bedrooms
datesold
2007-02-07      2607  525000        house         4
2007-02-27      2906  290000        house         3
2007-03-07      2905  328000        house         3
2007-03-09      2905  380000        house         4
2007-03-21      2906  310000        house         3